In [1]:
import numpy as np
import pandas as pd
import seaborn
import matplotlib.pyplot as plt
import datetime
import csv
import os
from sklearn.metrics import r2_score, mean_squared_error

%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
from modules.nypd_data import read_orig_file
from modules.nypd_data import filter_raw_data
from modules.nypd_data import save_dated_felonies
from modules.nypd_data import load_dated_felonies
from modules.nypd_data import save_clean_felonies
from modules.nypd_data import load_clean_felonies
from modules.nypd_data import add_offense_category
from modules.nypd_data import add_datetime_columns
from modules.nypd_data import pivot_felonies
from modules.nypd_data import save_pivoted_felonies
from modules.nypd_data import load_pivoted_felonies

In [3]:
from modules.prediction import load_all_data
from modules.prediction import precrime_train_test_split, create_test_period, precrime_train_test_split
from modules.prediction import split_into_X_y
from modules.prediction import load_splits
from modules.prediction import create_all_splits
from modules.prediction import sample_model
from modules.poly_ridge import poly_ridge_model
from modules.fancy_time_series import fancy_time_series_model
from modules.eval_model import eval_predictions

In [4]:
from modules.nypd_data import load_clean_felonies
from modules.nyc_shapefiles import read_nyc_shapefiles
from modules.weather import get_precinct_centroids
from modules.weather import get_mean_latlon
from modules.weather import write_weather_data
from modules.weather import read_weather_data
from modules.weather import read_api_key

In [5]:
# Generating file for 2017
# Get the ytd crime file from the open data website and 
# store it in the folder precrime_data/raw
save_dated_felonies('../precrime_data/raw/'
                    , 'NYPD_Complaint_Data_Current_YTD.csv'
                   , '../precrime_data/dated_felonies_2017.csv')
dated_felonies = load_dated_felonies('../precrime_data/'
                                     , 'dated_felonies_2017.csv')
dated_felonies = dated_felonies[dated_felonies['COMPLAINT_DATETIME'] >= '2017-01-01 00:00:00']
dated_felonies.to_csv('../precrime_data/clean_felonies_2017.csv')
save_clean_felonies('../precrime_data/', 'dated_felonies_2017.csv'
                   , '../precrime_data/clean_felonies_2017.csv')

nypd_data_2017 = load_clean_felonies('../precrime_data/'
                                     , 'clean_felonies_2017.csv')
add_offense_category(nypd_data_2017)
add_datetime_columns(nypd_data_2017)
pivoted_2017 = pivot_felonies(nypd_data_2017)
save_pivoted_felonies(nypd_data_2017, data_path='../precrime_data/'
                      , pivot_file='pivoted_felonies_2017.csv')

Starting (2017-12-05 21:00:27)...
Saving filtered output (2017-12-05 21:00:30)...
Done (2017-12-05 21:00:31)
Starting (2017-12-05 21:00:55)...
Done (2017-12-05 21:01:17)

In [6]:
dated_felonies

,COMPLAINT_DATETIME,REPORT_DATE,KY_CD,OFNS_DESC,BORO_NM,ADDR_PCT_CD,Latitude,Longitude
CMPLNT_NUM,,,,,,,,
417734073,2017-06-30 23:40:00,2017-06-30,121,CRIMINAL MISCHIEF & RELATED OF,BROOKLYN,90,40.701165,-73.942633
220585856,2017-06-30 23:15:00,2017-06-30,105,ROBBERY,MANHATTAN,9,40.729082,-73.988788
361182121,2017-06-30 22:58:00,2017-06-30,106,FELONY ASSAULT,BROOKLYN,94,40.719473,-73.963295
294397333,2017-06-30 22:55:00,2017-06-30,106,FELONY ASSAULT,MANHATTAN,14,40.754849,-73.984120
701367321,2017-06-30 22:50:00,2017-06-30,113,FORGERY,MANHATTAN,14,40.757241,-73.989794
729905802,2017-06-30 22:40:00,2017-06-30,105,ROBBERY,MANHATTAN,33,40.835319,-73.942040
219940245,2017-06-30 22:40:00,2017-06-30,109,GRAND LARCENY,BROOKLYN,81,40.700085,-73.940787
275147038,2017-06-30 22:20:00,2017-06-30,106,FELONY ASSAULT,BRONX,40,40.818396,-73.920522
588989752,2017-06-30 22:15:00,2017-06-30,113,FORGERY,BROOKLYN,77,40.668806,-73.931122
509041172,2017-06-30 22:00:00,2017-06-30,109,GRAND LARCENY,MANHATTAN,26,40.815493,-73.958614
189567279,2017-06-30 22:00:00,2017-06-30,105,ROBBERY,QUEENS,105,40.713138,-73.735105
175248766,2017-06-30 21:50:00,2017-06-30,106,FELONY ASSAULT,BROOKLYN,72,40.660545,-73.983580
941849140,2017-06-30 21:47:00,2017-06-30,117,DANGEROUS DRUGS,BRONX,41,40.814940,-73.886592
984451668,2017-06-30 21:30:00,2017-06-30,109,GRAND LARCENY,BROOKLYN,72,40.660105,-73.980625
366554147,2017-06-30 21:30:00,2017-06-30,105,ROBBERY,BRONX,47,40.871335,-73.860875
737244595,2017-06-30 21:20:00,2017-06-30,121,CRIMINAL MISCHIEF & RELATED OF,QUEENS,108,40.738398,-73.919654
940139688,2017-06-30 21:15:00,2017-06-30,105,ROBBERY,QUEENS,103,40.709406,-73.794383
167873708,2017-06-30 21:00:00,2017-06-30,121,CRIMINAL MISCHIEF & RELATED OF,BRONX,43,40.827014,-73.881668
681740083,2017-06-30 20:55:00,2017-06-30,109,GRAND LARCENY,BROOKLYN,90,40.706975,-73.953701
129634824,2017-06-30 20:45:00,2017-06-30,121,CRIMINAL MISCHIEF & RELATED OF,BROOKLYN,81,40.680119,-73.925482
359796799,2017-06-30 20:40:00,2017-06-30,111,POSSESSION OF STOLEN PROPERTY,BROOKLYN,71,40.665728,-73.956862
975749933,2017-06-30 20:22:00,2017-06-30,113,FORGERY,QUEENS,100,40.586837,-73.800701
627715192,2017-06-30 20:20:00,2017-06-30,109,GRAND LARCENY,BROOKLYN,83,40.700085,-73.940787
394239725,2017-06-30 20:15:00,2017-06-30,117,DANGEROUS DRUGS,BROOKLYN,77,40.670818,-73.935110
192539953,2017-06-30 20:15:00,2017-06-30,105,ROBBERY,BROOKLYN,83,40.703640,-73.918141
178173846,2017-06-30 20:00:00,2017-06-30,105,ROBBERY,BROOKLYN,75,40.672656,-73.890767
522728714,2017-06-30 20:00:00,2017-06-30,111,POSSESSION OF STOLEN PROPERTY,QUEENS,107,40.719919,-73.809040
355577631,2017-06-30 19:50:00,2017-06-30,106,FELONY ASSAULT,BROOKLYN,73,40.678791,-73.910940
118369229,2017-06-30 19:50:00,2017-06-30,109,GRAND LARCENY,MANHATTAN,10,40.745902,-73.999908
847852135,2017-06-30 19:50:00,2017-06-30,106,FELONY ASSAULT,BROOKLYN,73,40.678791,-73.910940
...,...,...,...,...,...,...,...,...
895568117,2017-01-01 01:00:00,2017-01-01,104,RAPE,QUEENS,114,NaN,NaN
241670516,2017-01-01 00:50:00,2017-01-01,106,FELONY ASSAULT,STATEN ISLAND,120,40.615491,-74.081656
439328841,2017-01-01 00:48:00,2017-01-01,106,FELONY ASSAULT,BRONX,40,40.811393,-73.922315
778718864,2017-01-01 00:40:00,2017-01-01,106,FELONY ASSAULT,BROOKLYN,72,40.662571,-73.987945
967272785,2017-01-01 00:40:00,2017-01-01,106,FELONY ASSAULT,BROOKLYN,83,40.697634,-73.934604
618734913,2017-01-01 00:30:00,2017-01-01,109,GRAND LARCENY,MANHATTAN,14,40.753533,-73.994537
762653064,2017-01-01 00:30:00,2017-01-01,106,FELONY ASSAULT,BRONX,52,40.880543,-73.883077
629297118,2017-01-01 00:30:00,2017-01-01,104,RAPE,BROOKLYN,77,NaN,NaN
363192784,2017-01-01 00:30:00,2017-01-01,105,ROBBERY,MANHATTAN,7,40.720754,-73.986159
254691583,2017-01-01 00:30:00,2017-01-01,109,GRAND LARCENY,MANHATTAN,9,40.731668,-73.989415
964694607,2017-01-01 00:30:00,2017-01-01,109,GRAND LARCENY,MANHATTAN,14,40.757241,-73.989794
866431054,2017-01-01 00:30:00,2017-01-01,106,FELONY ASSAULT,STATEN ISLAND,121,40.616099,-74.149189
904224427,2017-01-01 00:15:00,2017-01-01,126,MISCELLANEOUS PENAL LAW,BROOKLYN,69,40.639138,-73.911666
565042471,2017-01-01 00:15:00,2017-01-01,126,MISCELLANEOUS PENAL LAW,BROOKLYN,75,40.667533,-73.864248
796468702,2017-01-01 00:10:00,2017-01-01,106,FELONY ASSAULT,MANHATTAN,28,40.799509,-73.953596
237492767,2017-01-01 00:10:00,2017-01-01,105,ROBBERY,BRONX,47,40.875247,-73.859717
617233467,2017-01-01 00:10:00,2017-01-01,106,FELONY ASSAULT,MANHATTAN,19,40.782268,-73.945444
848719858,2017-01-01 00:05:00,2017-01-01,118,DANGEROUS WEAPONS,BROOKLYN,67,40.640203,-73.941658
741431815,2017-01-01 00:05:00,2017-01-01,106,FELONY ASSAULT,BROOKLYN,83,40.707123,-73.922317
279971924,2017-01-01 00:05:00,2017-01-01,126,MISCELLANEOUS PENAL LAW,BRONX,43,40.823134,-73.864657
442687917,2017-01-01 00:01:00,2017-01-01,106,FELONY ASSAULT,BRONX,46,40.858574,-73.906737
519413399,2017-01-01 00:01:00,2017-01-01,106,FELONY ASSAULT,BRONX,46,40.858574,-73.906737
651519554,2017-01-01 00:01:00,2017-01-01,118,DANGEROUS WEAPONS,BRONX,48,40.839911,-73.875613
429852883,2017-01-01 00:01:00,2017-01-01,109,GRAND LARCENY,MANHATTAN,18,40.762655,-73.971115
522314223,2017-01-01 00:01:00,2017-01-01,109,GRAND LARCENY,MANHATTAN,34,40.864056,-73.926317
468970124,2017-01-01 00:01:00,2017-01-01,109,GRAND LARCENY,MANHATTAN,14,40.756642,-73.988372
446159804,2017-01-01 00:01:00,2017-01-01,126,MISCELLANEOUS PENAL LAW,QUEENS,106,40.681140,-73.819124
418818547,2017-01-01 00:01:00,2017-01-01,109,GRAND LARCENY,MANHATTAN,14,40.756044,-73.986950
940597595,2017-01-01 00:00:00,2017-01-01,106,FELONY ASSAULT,BROOKLYN,73,40.667576,-73.907296
979583209,2017-01-01 00:00:00,2017-01-01,121,CRIMINAL MISCHIEF & RELATED OF,BROOKLYN,68,40.621709,-74.028805

In [7]:
# Creating weather data until 2017-11-30 

# Before running: execute "tar -xvf weather_hist.tar.gz"
# from the root directory of the git repo
#
# To make the files from scratch (not necessary):
#
#nypd_data = load_clean_felonies()
#precinct_dict, tract_dict, merged_census_info = read_nyc_shapefiles()
#centroids = get_precinct_centroids(precinct_dict)
#nyc_mean_latlon = get_mean_latlon(centroids)
#nypd_dates = nypd_data['COMPLAINT_DATETIME'].dt.date.unique()
#hours = range(2,26,4)
#darksky_api_key = read_api_key()

In [8]:
#new_nypd_dates = []
#one_day = datetime.timedelta(days=1)
#cur_day = nypd_dates[-1] + one_day
#while cur_day.month < 12:
#    new_nypd_dates.append(cur_day)
#    cur_day += one_day

In [9]:
#write_weather_data(new_nypd_dates, hours, darksky_api_key, nyc_mean_latlon, append_output=True)

In [10]:
crime_data_train = load_all_data()

crime_data_test = load_all_data(data_path='../precrime_data/'
                           , pivot_file='pivoted_felonies_2017.csv' )
crime_data = pd.concat([crime_data_train, crime_data_test])

C:\Users\ngamf\Anaconda3\envs\capstone\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)
C:\Users\ngamf\Anaconda3\envs\capstone\lib\site-packages\IPython\core\interactiveshell.py:2910: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
str_date = datetime.datetime.strptime('2017-01-01', '%Y-%m-%d')
end_date = datetime.datetime.strptime('2017-07-01', '%Y-%m-%d')
test_times = create_test_period(str_date,end_date)
X_train, X_test, y_train, y_test = precrime_train_test_split(crime_data, test_times)

In [12]:
test_times

       TEST_YEAR  TEST_MONTH  TEST_DAY  TEST_HOURGROUP
Index
0           2017           1         1               0
1           2017           1         1               4
2           2017           1         1               8
3           2017           1         1              12
4           2017           1         1              16
5           2017           1         1              20
6           2017           1         2               0
7           2017           1         2               4
8           2017           1         2               8
9           2017           1         2              12
10          2017           1         2              16
11          2017           1         2              20
12          2017           1         3               0
13          2017           1         3               4
14          2017           1         3               8
15          2017           1         3              12
16          2017           1         3              16
17          2017           1         3              20
18          2017           1         4               0
19          2017           1         4               4
20          2017           1         4               8
21          2017           1         4              12
22          2017           1         4              16
23          2017           1         4              20
24          2017           1         5               0
25          2017           1         5               4
26          2017           1         5               8
27          2017           1         5              12
28          2017           1         5              16
29          2017           1         5              20
...          ...         ...       ...             ...
1056        2017           6        26               0
1057        2017           6        26               4
1058        2017           6        26               8
1059        2017           6        26              12
1060        2017           6        26              16
1061        2017           6        26              20
1062        2017           6        27               0
1063        2017           6        27               4
1064        2017           6        27               8
1065        2017           6        27              12
1066        2017           6        27              16
1067        2017           6        27              20
1068        2017           6        28               0
1069        2017           6        28               4
1070        2017           6        28               8
1071        2017           6        28              12
1072        2017           6        28              16
1073        2017           6        28              20
1074        2017           6        29               0
1075        2017           6        29               4
1076        2017           6        29               8
1077        2017           6        29              12
1078        2017           6        29              16
1079        2017           6        29              20
1080        2017           6        30               0
1081        2017           6        30               4
1082        2017           6        30               8
1083        2017           6        30              12
1084        2017           6        30              16
1085        2017           6        30              20

[1086 rows x 4 columns]

In [13]:
y_poly = poly_ridge_model(X_train, y_train, X_test)

In [14]:
y_ts = fancy_time_series_model(X_train, y_train, X_test, y_test)

y_hybrid = (y_poly + y_ts) / 2

ValueError: cannot set a Timestamp with a non-timestamp

In [ ]:
eval_predictions(X_test, y_test, y_hybrid)